<%= render @restaurant %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>: <%= '⭐️' * review.rating %></li>
  <% end %>
    <p type="button" class="btn btn-outline-primary"><%= link_to "Leave a Review", new_restaurant_review_path(@restaurant) %></p>

</ul>
<br>
